@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");
:root {
  --kbgcolor:#13131A;  
  --klight:#E6E6EB;
  --blue: #1e549f;
  --indigo: #695aa6;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ec185d;
  --orange: #ff6d02;
  --yellow: #ffc107;
  --green: #1bb74f;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #393e46;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body{
    background-color:var(--kbgcolor);
}

/* hero-section */
.hero-section{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
}

@media (max-width: 480px) {
    .hero-section{
        width: 100%;
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius:30px ;
        border-bottom-right-radius:30px ;
    }
}

/* sunday-section */

.sunday-section{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, rgb(212, 85, 85),indigo,violet);
    margin-top: 20px;
    border-radius: 30px;
    padding: 40px;
}

.sunday-section h2{
    color: var(--klight);
    font-size: 60px;
    font-weight: bold;
}

.sunday-section a{
    color: rgb(177, 177, 177);
    font-size: 20px;
}

.sunday-section a:hover{
    color: var(--klight);
    font-size: 20px;
    text-decoration: none;
}

.sunday-section .section-1 {
    height: 100%;
}

@media (max-width: 480px) {
    .sunday-section{
        float: none;
        width: 100%;
        height: 200px;
        background-image: linear-gradient(to right, rgb(212, 85, 85),indigo);
        margin-top: 20px;
        border-radius: 30px;
        padding: 40px;
    }

    .sunday-section h2{
        color: var(--klight);
        font-size: 30px;
        font-weight: bold;
        margin-top: 16px;
    }
    
    .sunday-section a{
        color: rgb(177, 177, 177);
        font-size: 16px;
    }

    .sunday-section a:hover{
        color: var(--klight);
        font-size: 16px;
        text-decoration: none;
    }
}

/* album-section */

.album-section{
    height: 230px;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.album-section .vds-section{
    height: 100%;
    width: 49.5%;
    background-image: linear-gradient(to right, #44A08D,#093637 );
    float: left;
    padding: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}

.album-section .img-section{
    height: 100%;
    width: 49.5%;
    background-image: linear-gradient(to right,#093637,#283c86);
    float: right;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 50%;
}

.album-section h2{ 
    font-size: 36px;
    font-weight: bold;
    color: var(--klight);
    margin-top: 15%;
}

.album-section a{ 
    font-size: 16px;
    color: rgb(177, 177, 177);

}

.album-section a:hover{ 
    font-size: 16px;
    color: var(--klight);
    text-decoration: none;
}

@media (max-width:480px) {
    .album-section{
        height: 400px;
        width: 100%;
        margin-top: 15px; 
        margin-bottom: 10px; 
    }
    
    .album-section .vds-section{
        height: 49%;
        width: 100%;
        background-image: linear-gradient(to right, #44A08D,#093637 );
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 100px;
    }
    
    .album-section .img-section{
        height: 49%;
        width: 100%;
        background-image: linear-gradient(to right,#093637,#283c86);
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border-top-left-radius: 100px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .album-section h2{ 
        font-size: 29px;
        font-weight: bold;
        color: var(--klight);
        margin-top: 15%;
    }
    
    .album-section a{ 
        font-size: 15px;
        color: rgb(177, 177, 177);
    
    }
    
    .album-section a:hover{ 
        font-size: 15px;
        color: var(--klight);
        text-decoration: none;
    }
}

/* ppl-tms-section  */

.ppl-tms-section{
    margin-top: 15px;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.ppl-tms-section .ppl-section{
    width: 49.5%;
    height: 100%;
    background-image: linear-gradient(to right,#200122,#6f0000);
    float: left;
    padding: 20px;
    border-radius: 30px;
}

.ppl-tms-section .tms-section{
    width: 49.5%;
    height: 100%;
    background-image: linear-gradient(to right,#093028,#237A57);
    float: right;
    padding: 20px;
    border-radius: 30px;
}

.ppl-tms-section h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--klight);
    margin-top: 30px;
}

.ppl-tms-section a{
    font-size: 16px;
    color: rgb(177, 177, 177);
}

.ppl-tms-section a:hover{
    font-size: 16px;
    color: var(--klight);
    text-decoration: none;
}

@media (max-width:480px) {
    .ppl-tms-section{
        margin-top: 20px;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    .ppl-tms-section .ppl-section{
        width: 100%;
        height: 49.5%;
        background-image: linear-gradient(to right,#200122,#6f0000); 
        padding: 20px;
        border-radius: 30px;
        margin-bottom: 5px;
    }
    
    .ppl-tms-section .tms-section{
        width: 100%;
        height: 49.5%;
        background-image: linear-gradient(to right,#093028,#237A57); 
        padding: 20px;
        border-radius: 30px;
        margin-top: 5px;
    }
    
    .ppl-tms-section h2{
        font-size: 30px;
        font-weight: bold;
        color: var(--klight);
        margin-top: 30px;
    }
    
    .ppl-tms-section a{
        font-size: 16px;
        color: rgb(177, 177, 177);
    }
    
    .ppl-tms-section a:hover{
        font-size: 16px;
        color: var(--klight);
        text-decoration: none;
    }
}